*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#menu{
    display: none;
}
#hotel{
    width: 100%;
    background-color: rgb(248, 248, 233);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;

}
.logo{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

#section1{
    width: 100%;
    display: flex;
    text-align: center;
    background-image: url(https://indiarestaurant.co.in/assets/images/banners/baneer-5.jpg);
    background-size: 100% 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    color:rgb(233, 233, 224);
    margin-top: 10px;
    font-weight: bolder;
}


 #section2{
    display: flex;
    width: 100%;
} 

 #msecond {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

.class1{
    margin-top: 10%;
    text-align: center;
}
#color1 p{
    color: burlywood;
}
.color2{
    color: rgba(0, 0, 0, 0.47);
}
.class img{
    width: 100%;
    margin-left: 7px;
    margin-top: 10%;
} 


#section3{
   
    background-image: url(https://indiarestaurant.co.in/assets/images/banners/baneer-1.jpg);
    height: 300px;
    background-size: 100% 100%;
    display: flex;
   
    color: rgb(16, 12, 12);
    margin-top: 10%;
    font-size: small;
    justify-content: center;
    align-items: center;

    text-align: center;
}


#class2 {
    text-align: center;
    margin-top: 10%;
}
#color3{
    color: burlywood;
}
.class2{
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 20%;
}
.class2 img{
    
    height: 300px;
}
#mthird{
    text-align: center;
}
#color4{
    color: burlywood;
}


#section5{
    background-color: blanchedalmond;
}
.class3{
    display: flex;
    /* border-color: black;
    border-style: dashed; */
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}





#mfour{
    text-align: center;

}
.class4{
    text-align: center;
    padding: 30px;
    width: 300Px;
    
    background-color: white;
    margin-left: 10px;
}

input,textarea{
    width: 100%;
    padding:14px;
    margin: 10px;
    border: 1px solid;
    font-size: 15px;
    margin-left: 7px;
}

textarea{
    height: 120px;
    resize: none;
}
#button1{
    width: 70%;
    padding: 16px;
    color:white;
    background-color: black;

   


}

#class4 h1{
    color: burlywood;
    text-align: center;
}
#class4 img{
    width: 35%;
    margin-left: 100px;
   
}



#fone{
    text-align: center;
    margin-top: 10%;

}
.class5{
    text-align: center;
    margin-top: 5%;
}
.class6 p{

    text-align: center;
    margin-top: 5%;
}
.class6 h5{
    margin-bottom: 25px;
    font-size: 15px;
}
.class6 p{
    font-size: 15px;
    margin: 3px;

}
.class6{
    text-align: center;
}
.class6 h3{
    text-align: center;
    margin-top: 7%;
    color: burlywood;
}
footer{
    background-color: rgb(86, 73, 73);
    color: white;
}


/* <!--end phon screen> */ 

 @media only screen and (min-width:768px){
    .class1{
        display: flex;
        width: 40%;
    }
    .class23{
        text-align: center;
    }
    #sectionimage{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        
    }
    .class4{
        margin-left: 226px;
        margin-top: 7%;
    }
    .class8{
        text-align: center;
        margin-top: 10%;
    }
    #class8 {
       margin-left: 10%;
       margin-top: 7%;
    }


        
    }
    #section2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    }
   .color2{
    margin: 0% 15%;
   }

    .imageection {
       width: 100%;
    }

    .imageection img{
      height: 300px;
      margin: 10px;
    }

    
   



  /* <!--end phon screen> */  
  @media only screen and (min-width:1200px)
  {
   #menu{
    display: flex;
    padding: 20px;
    

   }


   .menu{
    display: none;

   }

   #section1{
    height: 700px;
    background-image: url(https://indiarestaurant.co.in/assets/images/banners/baneer-1.jpg);
    color: rgb(0, 0, 0);
    font-size: x-large;
   }

   .class2 img{
    width: 100%;
    height: 100%;
   }



   #section2{
    width: 100%;
   }
   .imageection{
    width: 100%;
   }
   .imageection img{
    height: 500px;
   }

 


  
 
    #section3{
        width: 100%;
        height: 500px;
    }

    .class4{
       
        width: 80%;
        margin: 80px;
        padding: 40px;
        margin-left: 10%;

    }
    #button1{
        width: 70%;
        
        background-color: black;
        font-size: 15px;
    }
    #class8 {
       margin-left: 25%;
       margin-top: 7%;
    }
   
    .class3{
        
        justify-content: center;
        text-decoration: underline;
        margin-top: 0px;
    }
    

  }