*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#gmenu{
    display: none;
}
#gallery{
    width: 100%;
    /* background-color: rgb(248, 248, 233); */

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;

}
.glogo{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

#gsection1{
    
    text-align: center;
    background-image: url(https://indiarestaurant.co.in/assets/images/backgrounds/12.jpg);
    background-size: 100% 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
  
}

#gsection2{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.photos img{
    width: 90%;
    margin: 5%;
    
    
}
footer{
    background-color: rgb(86, 73, 73);
    color: white;
}
.gclass5{
    text-align: center;
}
.gclass6{
    text-align: center;
}
#gfone{
    text-align: center;
}

/* <!--end phon screen> */ 


@media only screen and (min-width:768px){

    #gsection1{
        height: 400px;
    }

    #gsection2{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .photos{                 
        display: flex;
        width: 48%;
    }
}

/* <!--end phon screen> */  
@media only screen and (min-width:1200px){
     #gsection1{
        height: 500px;
    }
    #gmenu{
    display: flex;
   }
   .gmenu{
    display: none;
   }
    .photos{
        display: flex;
        width: 30%;
    }

}

